<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
    <div layout:fragment="header">
        <div class="product-big-title-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-bit-title text-center">
                            <h2>Hello World</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="single-product-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-sidebar">
                            <h2 class="sidebar-title">Search</h2>
                            <form action="">
                                <input type="text" placeholder="Search...">
                                <input type="submit" value="Search">
                            </form>
                        </div>

                        <div class="single-sidebar">
                            <h2 class="sidebar-title">Task</h2>
                            <img src="img/hello.jpg" alt="">
                            <div class="thubmnail-recent">
                                <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                                <h2><a href="">Solution</a></h2>

                            </div>
                        </div>

                        <div class="single-sidebar">
                            <h2 class="sidebar-title">Recent tasks/lessons</h2>
                            <ul>
                                <li><a href="">Strings</a></li>
                                <li><a href="">Strings</a></li>
                                <li><a href="">Strings</a></li>
                                <li><a href="">Strings</a></li>
                                <li><a href="">Strings</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="product-content-right">


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="product-images">
                                        <div class="product-main-img">
                                            <img src="img/product-2.jpg" alt="">
                                        </div>

                                        <div class="product-gallery">
                                            <img src="img/product-thumb-1.jpg" alt="">
                                            <img src="img/product-thumb-2.jpg" alt="">
                                            <img src="img/product-thumb-3.jpg" alt="">
                                            <img src="img/product-thumb-4.jpg" alt="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="product-inner">

                                    </div>

                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Check Yourself</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h3>Hello World</h3>
                                                    <h2>A simple C++ program to display "Hello, World!" on the screen. Since, it's a very simple program, it is often used to illustrate the syntax of a programming language.</h2>

                                                    <h2>Every C++ program starts from the main() function.The cout is the standard output stream which prints the "Hello, World!" string on the monitor.</h2>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Compile</h2>
                                                <div class="submit-review">

                                                    <div class="rating-chooser">
                                                        <p>Your rating about lesson</p>

                                                        <div class="rating-wrap-post">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
<!--                                                    <p><label for="review">Your solution </label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>-->
                                                    <p><input type="submit" value="Submit"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>