<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
<div layout:fragment="header">
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>New Post</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Title or content is empty.
                </div>
            </div>
            <form action="addPost" method="post" enctype="multipart/form-data">

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputTitle">Title</label>
                        <input type="text" name = "title" class="form-control" id="inputTitle">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputImage">Image</label>
                        <input type="file" name = "img" class="form-control" id="inputImage" text="Upload picture">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputDescription">Description</label>
                    <input type="text" name = "description" class="form-control" id="inputDescription">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputContent">Content</label>
                    <textarea type="text" name = "content" class="form-control" id="inputContent" placeholder="Input content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>