<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Codefarm</title>
</head>
<body>
    <div layout:fragment="header">
<!--        carousel        -->
        <div class="slider-area">
            <div class="zigzag-bottom"></div>
            <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">

                <div class="slide-bulletz">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <ol class="carousel-indicators slide-indicators">
                                    <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                                    <li data-target="#slide-list" data-slide-to="1"></li>
                                    <li data-target="#slide-list" data-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!--        img 1       -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="single-slide">
                            <div class="slide-bg slide-one"></div>
                            <div class="slide-text-wrapper">
                                <div class="slide-text">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-6">
                                                <div class="slide-content">
                                                    <h2>We are awesome</h2>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, dolorem, excepturi. Dolore aliquam quibusdam ut quae iure vero exercitationem ratione!</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ab molestiae minus reiciendis! Pariatur ab rerum, sapiente ex nostrum laudantium.</p>
                                                    <a href="" class="readmore">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--        img2        -->
                    <div class="item">
                        <div class="single-slide">
                            <div class="slide-bg slide-two"></div>
                            <div class="slide-text-wrapper">
                                <div class="slide-text">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-6">
                                                <div class="slide-content">
                                                    <h2>We are great</h2>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe aspernatur, dolorum harum molestias tempora deserunt voluptas possimus quos eveniet, vitae voluptatem accusantium atque deleniti inventore. Enim quam placeat expedita! Quibusdam!</p>
                                                    <a href="" class="readmore">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--        img 3       -->
                    <div class="item">
                        <div class="single-slide">
                            <div class="slide-bg slide-three"></div>
                            <div class="slide-text-wrapper">
                                <div class="slide-text">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-6">
                                                <div class="slide-content">
                                                    <h2>We are superb</h2>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eius?</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti voluptates necessitatibus dicta recusandae quae amet nobis sapiente explicabo voluptatibus rerum nihil quas saepe, tempore error odio quam obcaecati suscipit sequi.</p>
                                                    <a href="" class="readmore">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--        NEWS        -->

        <div class="maincontent-area">
            <div class="zigzag-bottom"></div>
            <div class="container">

                                                        <!--                НУЖНА КРАСИВАЯ КНОПКА           -->


                <div sec:authorize="hasAuthority('MODERATOR_ROLE')">
                    <a class="btn btn-light btn-outline-secondary" th:href="@{'/addNewPost'}" role="button"><i class="fa fa-plus"></i> ADD</a>
                </div>
                <div class="row">
                    <div class="col-md-12" >
                        <div class="latest-tasks">
                            <h2 class="section-title">News</h2>
                            <div class="product-carousel">
                                <div class="single-product" th:each = "n: ${news}">
                                    <div class="product-f-image">
                                        <img th:src="@{'img/'+${n.file}}" alt="no img">
                                        <div class="product-hover">
                                            <a th:href="@{'/details/'+${n.id}}" class="add-to-cart-link"><i class="fa fa-link"></i> See details</a>
                                            <a th:href="@{'/details/'+${n.id}}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>

                                    <h2><a href="single-product.html" th:text="${n.title}"></a></h2>
                                    <div class="product-carousel-price">
                                        <ins th:text="${n.postDate}"></ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${tabSize > 0}">
                    <a class="btn btn-info btn-sm ml-1" th:each = "i : ${#numbers.sequence(1, tabSize)}" th:text = "${i}" th:href = "@{'/?page=' + ${i}}">
                    </a>
                </div>
            </div>
        </div>
        <div class="brands-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="brand-wrapper">
                            <h2 class="section-title">Elita</h2>
                            <div class="brand-list">
                                <img th:src="@{'img/logo.jpg'}" alt="">
                                <img th:src="@{'img/logo.jpg'}" alt="">
                                <img th:src="@{'img/logo.jpg'}" alt="">
                                <img th:src="@{'img/logo.jpg'}" alt="">
                                <img th:src="@{'img/logo.jpg'}" alt="">
                                <img th:src="@{'img/logo.jpg'}" alt="">
                                <img th:src="@{'img/logo.jpg'}" alt="">
                                <img th:src="@{'img/logo.jpg'}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</body>
</html>